<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menu</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        
        <h1>Valikko</h1>
        
        <strong th:text="'Tervetuloa kirjastopalveluun ' + ${user.username}">username</strong>
        
        <p>
            <a th:href="@{/genres}">Kirjat</a>
        </p>
        
        <p>
            <a th:href="@{/authors}">Kirjailijat</a>
        </p>
        
        <p>
            <a th:href="@{/reservations/{userId}(userId=${user.id})}" th:text="Varaukset">user</a>
        </p>
        
       
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Kirjaudu ulos"></input>
        </form>
    </body>
</html>

