<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Menu</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        
        <h1>Valikko</h1>
        
        <strong sec:authorize="hasRole('ROLE_USER')" th:text="'Tervetuloa kirjastopalveluun ' + ${person.username}">username</strong>

        <p>
            <a th:href="@{/genres}">Kirjat genreittäin</a>
        </p>
        
        <p>
            <a th:href="@{/authors}">Kirjat kirjailijoittain</a>
        </p>
        
        <p sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{/reservations/{personId}(personId=${person.id})}" th:text="Varaukset">person</a>
        </p>
        
        <p sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/persons}" th:text="Käyttäjät">persons</a>
        </p>
        
       
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Kirjaudu ulos"></input>
        </form>
    </body>
</html>

