<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Kirjaudu kirjastopalveluihin</h1>

            <form method="POST" th:action="@{/authenticate}">
                <div>
                    <input type="text" name="username" placeholder="username" />
                    <input type="password" name="password" placeholder="password" /> 
                </div>
                <input type="submit" value="sign in" />
                <p>
                    <a th:href="@{/register}">Rekisteröidy</a>
                </p>
            </form>
    </body>
</html>

