<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Reservations</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2 th:text="${person.username}">name</h2>
        
        <h4>Varaukset</h4>
        <ul>
            <li th:each="reservation : ${reservations}">
                <a th:text="${reservation.book.name}">book name</a>
                <form th:action="@{/reservations/{reservationId}(reservationId=${reservation.id})}" th:method="DELETE">
                    <input type="submit" value="Palauta"/>            
                </form>
            </li>
        </ul>
        <a th:href="@{/}">Valikkoon</a>
    </body>
</html>

